<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>The Calculator App That So Totally Should Get Me Hired</title>
    <link rel="stylesheet" href="./stylesheets/app.css">
    <script src="javascript/vendor/requirejs/require.js" data-main="javascript/app/main.js" ></script>
</head>
<body>
    <div class="ui center aligned page grid">
        <div class="row">
            <div class="column">
                <header>
                    <h1>Calculon</h1>
                </header>
            </div>
        </div>
        <div class="row" ng-controller="CalculatorController as calculator">
            <div class="column">
                <div class="ui center aligned red inverted segment ">
                    <div class="ui fluid input">
                        <input type="text" ng-model="result" disabled>
                        <div>{{generateExpression()}}</div>
                    </div>
                    <div class="ui divider"></div>
                    <div class="two column stackable ui grid">
                        <div class="column">
                            <div class="ui center aligned grid">
                                <div class="three column row">
                                    <div class="column">
                                        <button class="circular ui button" ng-click="operate(1)">1</button>
                                    </div>
                                    <div class="column">
                                        <button class="circular ui button" ng-click="operate(2)">2</button>
                                    </div>
                                    <div class="column">
                                        <button class="circular ui button" ng-click="operate(3)">3</button>
                                    </div>
                                </div>
                                <div class="three column row">
                                    <div class="column">
                                        <button class="circular ui button" ng-click="operate(4)">4</button>
                                    </div>
                                    <div class="column">
                                        <button class="circular ui button" ng-click="operate(5)">5</button>
                                    </div>
                                    <div class="column">
                                        <button class="circular ui button" ng-click="operate(6)">6</button>
                                    </div>
                                </div>
                                <div class="three column row">
                                    <div class="column">
                                        <button class="circular ui button" ng-click="operate(7)">7</button>
                                    </div>
                                    <div class="column">
                                        <button class="circular ui button" ng-click="operate(8)">8</button>
                                    </div>
                                    <div class="column">
                                        <button class="circular ui button" ng-click="operate(9)">9</button>
                                    </div>
                                </div>
                                <div class="three column row">
                                    <div class="column">
                                        <button class="circular ui button" ng-click="operate('.')">.</button>
                                    </div>
                                    <div class="column">
                                        <button class="circular ui button" ng-click="operate(0)">0</button>
                                    </div>
                                    <div class="column">
                                        <div class="circular ui animated fade button" ng-click="operate('-1')">
                                            <div class="hidden content">Negate</div>
                                            <div class="visible content">
                                                &nbsp;&nbsp;-X&nbsp;&nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui center aligned grid">
                                <div class="three column row">
                                    <div class="column">
                                        <button class="circular ui button" ng-click="operate('/')">&#247;</button>
                                    </div>
                                    <div class="column">
                                        <div class="column">
                                            <button class="circular ui button" ng-click="operate('+')">+</button>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="circular ui animated fade button" ng-click="operate('clear')">
                                            <div class="hidden content">Clear</div>
                                            <div class="visible content">
                                                <i class="trash icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="three column row">
                                    <div class="column">
                                        <button class="circular ui button" ng-click="operate('*')">&#215;</button>
                                    </div>
                                    <div class="column">
                                        <button class="circular ui button" ng-click="operate('(')">(</button>
                                    </div>
                                    <div class="column">
                                        <button class="circular ui button" ng-click="operate(')')">)</button>
                                    </div>
                                </div>
                                <div class="three column row">
                                    <div class="column">
                                        <button class="circular ui button" ng-click="operate('-')">-</button>
                                    </div>
                                    <div class="column">
                                        <div class="circular ui animated fade button" ng-click="operate('^2')" >
                                            <div class="hidden content">Square</div>
                                            <div class="visible content">
                                                X^2
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="circular ui animated fade button" ng-click="operate('^1/2')">
                                            <div class="hidden content">Root</div>
                                            <div class="visible content">
                                                &#8730;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="circular fluid ui button" ng-click="operate('=')">=</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>